<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <title>Funeral-Choice</title>
    <meta charset="utf-8">
    <META NAME="keywords" CONTENT="affordable funeral service funeral memorial service memorial services cheap funeral  cheap funeral arrangements cheap funeral cost cheap funeral costs cheap funeral services  funeral funeral arrangement funeral arrangements  funeral services how to arrange a funeral  how to have a cheap funeral how to make funeral arrangements making funeral arrangements  memorial service memorial service planning plan memorial service planning a memorial service">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">

	<!-- Font-Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    @*<link href="~/Content/themes/tales/css/vendor/google/fonts.css" rel='stylesheet' type='text/css'>*@

    <!-- Glyphicons -->
    <link rel="stylesheet" href="~/Content/themes/tales/css/vendor/glyphicons/glyphicons.css">

    <!-- Tales Styles (switch for different color schemes, e.g. "styles-cleanblue.css") -->
	<link rel="stylesheet" href="~/Content/themes/tales/css/styles-bluegreen.css" id="theme-styles">

	<!-- Obsequy Styles -->
	<link rel="stylesheet" href="~/Content/themes/obsequy/css/obsequy.css">
	<link rel="stylesheet" href="~/Content/themes/obsequy/css/obsequy-devices.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8.css">        
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

	@Scripts.Render("~/bundles/lib")
	@Scripts.Render("~/bundles/angular")

	<!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-36695718-1', 'auto');
        ga('send', 'pageview');
    </script>

</head> 

@RenderBody()

@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/angularApp")

</html>